<div class="container mt-4">
<div class="row">
<figure class="figure col-auto text-center me-5" id="logo">
<img src="{{directory}}/img/logo.png" class="w-100" alt="...">
<figcaption class="figure-caption d-none">再生资源交易平台</figcaption>
</figure>
{{ content }}
</div>
<ul id="nav" class="nav">
  <li class="nav-item">
    <a class="nav-link text-success fw-bold active" aria-current="page" href="#">首页</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-black" aria-current="page" href="#">关于我们</a>
  </li>
</ul>
</div>
