<footer class="container py-4">
  <div class="row">
    <div class="col-2">
        <p class="text-secondary">买家服务</p>
        <p><a href="">买家注册</a></p>
        <p><a href="">买家线上交易流程</a></p>
        <p><a href="">现货搜索</a></p>
        <p><a href="">实单求购</a></p>
        <p><a href="">商城采购流程</a></p>
        <p><a href="">隐私政策</a></p>
        <p><a href="">交易规则</a></p>
    </div>
    <div class="col-2">
        <p class="text-secondary">卖家服务</p>
        <p><a href="">合作钢厂</a></p>
        <p><a href="">商家操作指南</a></p>
        <p><a href="">开通卖家服务</a></p>
        <p><a href="">供应商合作洽谈</a></p>
        <p><a href="">商城采购流程</a></p>
    </div>
    <div class="col-2">
        <p class="text-secondary">售后服务</p>
        <p><a href="">质量异议处理流程</a></p>
        <p><a href="">发票查询</a></p>
        <p><a href="">商城与资源单区别</a></p>
        <p><a href="">实力卖家入驻</a></p>
    </div>
    <div class="col-2">
        <p class="text-secondary">平台规则</p>
        <p><a href="">服务协议</a></p>
        <p><a href="">交易规则</a></p>
        <p><a href="">隐私条款</a></p>
    </div>
    <div class="col-2">
        <p class="text-secondary">帮助中心</p>
        <p><a href="">在线客服</a></p>
        <p><a href="">买家指南</a></p>
        <p><a href="">卖家指南</a></p>
        <p><a href="">发票说明</a></p>
    </div>
    <div class="col-2">
        <p class="text-secondary">支付方式</p>
        <p><a href="">在线支付</a></p>
        <p><a href="">余额支付</a></p>
        <p><a href="">银行承兑汇票</a></p>
    </div>
  </div>

    <ul class="text-center list-inline mt-5">
        <li><a href="">关于我们</a></li>
        <li><a href="">法律声明</a></li>
        <li><a href="">诚聘英才</a></li>
        <li><a href="">投资洽谈</a></li>
        <li><a href="">联系我们</a></li>
        <li><a href="">帮助中心</a></li>
        <li><a href="">新闻资讯</a></li>
        <li><a href="">工商执照</a></li>
        <li><a href="">舞弊举报</a></li>
    </ul>
    <p class="text-center">COPYRIGHT © 再生资源交易平台 www.XXXXX.com 鄂ICP备 XXXXXXXX号-1 ICP证：鄂B0-00000000</p>
</footer>
