<header id="header" class="bg-light">
<nav class="container navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    再生资源交易平台欢迎你！
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/user/login">登录</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/register">注册</a>
        </li>
        </ul>

        <ul class="navbar-nav d-flex">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">首页</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            买家中心
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">我的订单</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">会员中心</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          卖家中心
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">我的订单</a></li>
            <li><a class="dropdown-item" href="#">我的店铺</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">我要入驻</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          客户服务
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">帮助中心</a></li>
            <li><a class="dropdown-item" href="#">在线客服</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>
