a{
  text-decoration: none!important;
  color: rgba(var(--bs-secondary-rgb),var(--bs-text-opacity))!important;
}
#header{
  font-size: 12px;
}
#header .dropdown-menu{
  font-size: 12px;
}
#logo{
  width: 110px;
}
#search_suggest li a{
  text-decoration: none!important;
  font-size: 12px;
  color: rgba(var(--bs-secondary-rgb),var(--bs-text-opacity))!important;
}
#category .dropdown-menu{
  width: 600px;
  padding: 16px;
  top: -3px!important;
}
#category .dropdown-menu a{
  text-decoration: none!important;
  font-size: 12px;
  color: rgba(var(--bs-secondary-rgb),var(--bs-text-opacity))!important;
}
#category .dropend button{
  display: flex;
  justify-content: space-between!important;
  align-items: center!important;
}
#category .dropend button img{
  width: 20px;
  margin-right: 8px;
}
#nav{
  margin-left: 220px;
}
#nav a{
  font-size: 14px;
}
#slider img{
  width: 600px;
  height: 276px;
}
#blacklist img{
  width: 200px;
  height: 276px;
}
#login{
  width: 283px;
}
#login img{
  width: 80px;
}
#policy a{
  font-size: 12px;
}
#policy li{
  text-align: left;
}
#prod img{
  width: 80px;
}
#prod{
  font-size: 12px;
}
#prod .date{
  font-size: 18px;
}
#prod .name{
  font-size: 14px;
}
#prod .price{
  font-size: 22px;
}
#prod a:hover{
  color: #198754 !important;
  font-weight: bold;
}
#prod .border-success{
  border: .5px solid #8cc3a9!important
}
footer{
  font-size: 12px;
}
footer p{
  margin-bottom: .5rem;
}
footer ul li{
  display: inline;
  margin: 15px;
}
#user-register-form,
#user-login-form{
  margin: 50px auto;
  max-width: 400px;
  padding-bottom: 30px;
}
#user-register-form .description,
#user-login-form .description{
  display: none;
}
#user-register-form input,
#user-login-form input,
#prod_info input{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
#user-register-form input#edit-submit,
#user-login-form input#edit-submit{
  margin-top: 16px;
  border-color: #198754;
  background-color: #198754
}
#edit-user-picture-wrapper,
#edit-contact{
    display: none;
}
.btn-outline-success{
  color: #198754 !important;
  border-color: #198754;
}
.btn-outline-success:hover{
  border-color: #198754;
  background-color: #198754;
  color: #fff !important;
}
.cart.cart-form th{
    width: 220px;
}
#prod_info input.button--add-to-cart{
  margin-top: 16px;
  border-color: #198754;
  background-color: #198754;
  color: #fff;
  width: 230px;
}

@media screen and (max-width: 37.5em) {
  .tabs ul.primary li a{
    padding: 0 10px;
  }
  #header{
    display: none;
  }
}
